$MENU-LOGO-WIDTH: 25px;

.self {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: $MAX-CONTENT-WINDOW-SIZE;
    min-width: $MIN-WIDTH; // TODO: really needed?
    padding-left: $MENU-LEFT-PADDING;
    padding-right: $MENU-RIGHT-PADDING;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    &::before {
        background-color: black;
        content: "";
        height: 100%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        top: 0;
        width: 100vw;
        z-index: -10;
    }
}

.menu-bar {
    align-items: center;
    background-color: black;
    column-gap: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    min-height: $MENU-HEIGHT;
    padding-bottom: 26px;
    padding-top: 25px;
    justify-content: space-between;
}

.logo {
    height: $MENU-LOGO-HEIGHT;
    margin-right: auto;
    max-width: 28px + 18px + 150px;
    object-fit: scale-down;
    overflow-y: hidden;
}

.icon {
    height: $MENU--ICON-HEIGHT;
    min-width: $MENU--ICON-WIDTH;
}

.icon--search {
    background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-MENU-SEARCH}");
}

.icon--history {
    background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-MENU-TIMELINE}");
}

.submenu {
    position: relative;
}

@media (width >= $SCREEN--BIG) {
    .self {
        column-gap: 40px;
    }

    .submenu {
        max-height: 80vh;
    }
}
