.self {
    position: relative;
}

.self--fill-window {
    height: calc(100vh - $MENU-HEIGHT);
}

.self--hidden {
    padding: 0;
    visibility: hidden;
}

@media (width >= $SCREEN--BIG) {
    .self {
        height: unset;
    }
}
