$ONE-PHOTO-BORDER-RADIUS: 8px;
$ONE-PHOTO-BUTTON-WIDTH: 41px;
$ONE-PHOTO-ICON-SIZE: 21px;

$ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH: 48px;
$ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH--BIG-SCREEN: 54px;

$ONE-PHOTO-AUTHOR-NAME: 18px;
$ONE-PHOTO-AUTHOR-NAME--BIG-SCREEN: 32px;

$ONE-PHOTO-AUTHOR-INSTAGRAM: 14px;
$ONE-PHOTO-AUTHOR-INSTAGRAM--BIG-SCREEN: 20px;

$ONE-PHOTO-INSTAGRAM-FONT-COLOR: #bdbdbd;
$ONE-PHOTO-INSTAGRAM-FONT-COLOR--BIG-SCREEN: #f2f2f2;

.self {
    display: flex;
    column-gap: 11px;
}

.thumbnail {
    border-radius: $ONE-PHOTO-BORDER-RADIUS;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    height: $ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH;
    object-fit: scale-down;
    overflow: hidden;
    position: relative;
    width: $ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH;
}

.name {
    color: black;
    display: block;
    font-size: $ONE-PHOTO-AUTHOR-NAME;
    font-style: normal;
    font-weight: lighter;
    line-height: 1.1333em;
    margin: 0;
    text-align: center;
}

.instagram {
    color: $ONE-PHOTO-INSTAGRAM-FONT-COLOR;
    display: block;
    font-weight: lighter;
    font-size: $ONE-PHOTO-AUTHOR-INSTAGRAM;
    font-style: normal;
    line-height: 1.1333em;
    text-decoration: none;

    &:visited, &:hover, &:link {
        color: $ONE-PHOTO-INSTAGRAM-FONT-COLOR;
    }

    &::before {
        content: "@";
    }
}

@media (width >= $SCREEN--BIG) {
    .name {
        color: $ONE-PHOTO-INSTAGRAM-FONT-COLOR--BIG-SCREEN;
        font-size: $ONE-PHOTO-AUTHOR-NAME--BIG-SCREEN;
    }

    .instagram {
        color: $ONE-PHOTO-INSTAGRAM-FONT-COLOR--BIG-SCREEN;
        font-size: $ONE-PHOTO-AUTHOR-INSTAGRAM--BIG-SCREEN;

        &:visited, &:hover, &:link {
            color: $ONE-PHOTO-INSTAGRAM-FONT-COLOR--BIG-SCREEN;
        }
    }

    .thumbnail {
        height: $ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH--BIG-SCREEN;
        width: $ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH--BIG-SCREEN;
    }
}
