$IMAGE-CARD-MENU--ICON-HEIGHT: 34px;
$IMAGE-CARD-MENU--ZOOM-COEFF: calc(56px / $IMAGE-CARD-MENU--ICON-HEIGHT);

.self {
    column-gap: 46px;
    display: flex;
    filter: opacity(1);
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.self:focus-within,
.self:hover {
    filter: opacity(1);
}

.button-container {
    list-style: none;
    padding: 0;
}

.button {
    appearance: none;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    height: $IMAGE-CARD-MENU--ICON-HEIGHT;
    width: $IMAGE-CARD-MENU--ICON-HEIGHT;

    &--open {
        background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-OPEN-IN-FULL}");
    }

    &--download {
        background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-DOWNLOAD-WHITE}");
    }

    &--like {
        background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-HEART-WHITE}");
    }

    &--like:checked {
        background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-HEART-RED}");
    }
}

.button:hover,
.button:focus {
    transform: scale($IMAGE-CARD-MENU--ZOOM-COEFF, $IMAGE-CARD-MENU--ZOOM-COEFF);
    transition-duration: 0.05s;
    transition-property: all;
    transition-timing-function: linear;
}
