$IMAGE-CARD-BOTTOM-MARGIN: 18px;
$IMAGE-CARD--BORDER-RADIUS: 8px;

.self {
    display: block;
    list-style: none;
    margin-bottom: $IMAGE-CARD-BOTTOM-MARGIN;
    margin: 0;
    position: relative;
}

.image-container {
    display: block;
    object-fit: scale-down;
    overflow: clip;
    width: 100%;
}

.image {
    background-color: var(--data-background-color);
    border-radius: $IMAGE-CARD--BORDER-RADIUS;
    display: block;
    object-fit: contain;
    width: 100%;
}

.author-menu-container {
    align-items: center;
    color: white;
    display: flex;
    filter: opacity(0);
    flex-direction: column;
    font-style: normal;
    justify-content: space-evenly;
    min-height: 70%; // TODO
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}

.self:hover, .self:focus-within {
    & .image {
        filter: blur(3px) brightness(0.5);
    }

    & .author-menu-container {
        filter: opacity(1);
    }
}
