$AUTHOR--NAME-FONT-SIZE-BIG-SCREEN: 30px;
$AUTHOR--NAME-LINE-HEIGHT: calc(36/30);
$AUTHOR--INSTAGRAM-FONT-SIZE: 18px;
$AUTHOR--INSTAGRAM-LINE-HEIGHT: 22px;

.self {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    row-gap: 0.433em; // ~13px out of 30px
}

.self:focus-within,
.self:hover {
    filter: opacity(1);
}

.name {
    color: white;
    display: block;
    font-size: clamp($AUTHOR--INSTAGRAM-FONT-SIZE, 2vw, $AUTHOR--NAME-FONT-SIZE-BIG-SCREEN);
    font-style: normal;
    font-weight: lighter;
    line-height: $AUTHOR--NAME-LINE-HEIGHT;
    margin: 0;
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.instagram-account {
    color: white;
    display: block;
    font-weight: lighter;
    font-size: $AUTHOR--INSTAGRAM-FONT-SIZE;
    font-style: normal;
    line-height: $AUTHOR--INSTAGRAM-LINE-HEIGHT;
    text-align: center;
    text-decoration: none;
    &:visited, &:hover, &:link {
        color: white;
    }
}

.thumbnail {
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}
