$IMAGE-CARD--BORDER-RADIUS: 8px;

.self {
    align-items: start;
    background-color: gray;
    background-color: var(--data-background-color);
    border-radius: $IMAGE-CARD--BORDER-RADIUS;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.image {
    object-fit: scale-down;
    position: relative;
    width: 100%;
}

.author-menu-container {
    color: white;
    display: flex;
    filter: opacity(0);
    flex-direction: column;
    flex-shrink: 0;
    font-style: normal;
    justify-content: center;
    max-height: 98%;
    padding: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    z-index: 1;
}

.gutter {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0);
    opacity: 0;
    display: block;
    flex-shrink: 0;
    font-size: 1px;
    aspect-ratio: clamp(
        2,
        calc(var(--data-aspect-ratio) * 50 - 30.7),
        1000
    );
    line-height: 1;
    visibility: hidden;
    width: 100%;
}

.self:hover, .self:focus-within {
    & .image img {
        filter: blur(3px) brightness(0.5);
    }

    & .author-menu-container {
        filter: opacity(1);
    }
}
