$IMAGES-COEFF: calc(375px / $MIN-WIDTH);
$IMAGES-MARGIN-TOP: calc(29px / $IMAGES-COEFF);

.self {
    column-gap: 27px;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(330px, 476px));
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: 26px;
}

.li {
    display: block;
}
