$SQUARES-ICON-COEFF: calc(375px / $MIN-WIDTH);
$SQUARES-ICON-SIZE: calc(23px / $SQUARES-ICON-COEFF);
$SQUARES-ICON-THICKNESS: 3px;
$SQUARES-ICON-BG-COLOR: white;

.self {
    // Thanks to https://codepen.io/cyril-lamotte/pen/bGVxjOr
    appearance: none;
    background-color: lightgray;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: $SQUARES-ICON-SIZE;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: $SQUARES-ICON-SIZE;

    &:before,
    &:after {
        background: $SQUARES-ICON-BG-COLOR;
        content: '';
        left: 0;
        height: $SQUARES-ICON-THICKNESS;
        position: absolute;
        right: 0;
        top: calc(($SQUARES-ICON-SIZE - $SQUARES-ICON-THICKNESS) / 2);
    }

    &:after {
      transform: rotate(90deg);
    }
}

.self:checked {
    background-color: black;
}
