$LINES-ICON-SIZE: 23px;
$LINES-ICON-LINE: 10px;

.self {
    appearance: none;
    box-sizing: border-box;
    border-color: lightgray;
    border-style: solid;
    border-width: 0;
    border-bottom-width: $LINES-ICON-LINE;
    border-top-width: $LINES-ICON-LINE;
    content: "";
    cursor: pointer;
    height: $LINES-ICON-SIZE;
    margin: 0;
    width: $LINES-ICON-SIZE;
}

.self:checked {
    border-color: black;
}
