.self a {
    cursor: pointer;
}

.container {
    display: flex;
    column-gap: 18px;
    margin: 0;

    &:any-link {
        cursor: pointer;
    }
}

.header {
    color: white;
    display: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

@media (min-width: $SCREEN--BIG) {
    .header {
        display: block;
    }
}
