$ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH: 48px;
$ONE-PHOTO-BORDER-RADIUS: 8px;
$ONE-PHOTO-BUTTON-WIDTH: 41px;
$ONE-PHOTO-ICON-SIZE: 21px;
$ONE-PHOTO-AUTHOR-NAME: 18px;
$ONE-PHOTO-AUTHOR-INSTAGRAM: 14px;

$ONE-PHOTO-INSTAGRAM-FONT-COLOR: #bdbdbd;

.self {
    display: flex;
}

.thumbnail {
    border-radius: $ONE-PHOTO-BORDER-RADIUS;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    height: $ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH;
    margin-right: 11px;
    object-fit: contain;
    position: relative;
    width: $ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH;
}

.name {
    color: black;
    display: block;
    font-size: $ONE-PHOTO-AUTHOR-NAME;
    font-style: normal;
    font-weight: lighter;
    line-height: 22px;
    text-align: center;
}

.instagram {
    color: $ONE-PHOTO-INSTAGRAM-FONT-COLOR;
    display: block;
    font-weight: lighter;
    font-size: $ONE-PHOTO-AUTHOR-INSTAGRAM;
    font-style: normal;
    line-height: 18px;
    text-decoration: none;

    &:visited, &:hover, &:link {
        color: gray;
    }
}
