$ONE-PHOTO-COEFF: calc(375px / $MIN-WIDTH);
$ONE-PHOTO-BORDER-RADIUS: calc(8px / $ONE-PHOTO-COEFF);

.self {
    display: flex;
    flex-direction: column;
}

.photo {
    border-radius: $ONE-PHOTO-BORDER-RADIUS;
}
