$ONE-PHOTO-PADDING-TOP: 40px;
$ONE-PHOTO-AUTHOR-THUMBNAIL-WIDTH: 48px;

$ONE-PHOTO-HEADER-TO-PHOTO-SPACE: 32px;
$ONE-PHOTO-HEADER-TO-PHOTO-SPACE--BIG-SCREEN: 40px;

$ONE-PHOTO-AUTHOR-NAME: 18px;
$ONE-PHOTO-AUTHOR-INSTAGRAM: 14px;

.self {
    align-items: stretch;
    align-content: stretch;
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding-top: $ONE-PHOTO-PADDING-TOP;
    position: relative;
    row-gap: $ONE-PHOTO-HEADER-TO-PHOTO-SPACE;
}

.self::before {
    background-color: gray;
    background-color: var(--data-background-color);
    background-image: var(--data-with-url-tag);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-width: 0;
    filter: blur(1px) brightness(0.3);
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
}

.header {
    align-items:flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.photo-container {
    background-color: gray;
    background-color: var(--data-background-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}

@media (min-width: $SCREEN--BIG) {
    .self {
        row-gap: $ONE-PHOTO-HEADER-TO-PHOTO-SPACE--BIG-SCREEN;
        padding-bottom: 63px;
    }

    .self::before {
        content: "";
    }

    .header {
        top: 46px;
    }
}
