$MARGIN-FROM-MODAL: 29px;
$MARGIN-FROM-MODAL-BIG-SCREEN: 77px;

$MARGIN-BETWEEN-INSIDE-ELEMENTS: 29px;
$MARGIN-BETWEEN-INSIDE-ELEMENTS-BIG-SCREEN: 29px;

.self {
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: $MENU-HEIGHT + 50px + 100px; // TODO
    padding-left: $MENU-LEFT-PADDING;
    padding-right: $MENU-RIGHT-PADDING;
    position: relative;
}
