$FOOTER-COEFF: calc(375px / $MIN-WIDTH);

$FOOTER-BUTTON-WIDTH: calc(50px / $FOOTER-COEFF);
$FOOTER-ICON-WIDTH: calc(16px / $FOOTER-COEFF);
$FOOTER-RADIUS: 8px;

.go-up-button {
    background-color: transparent;
    background-image: url('/icon-arrow-up-gray.svg');
    background-size: $FOOTER-ICON-WIDTH;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-color: lightgray;
    border-radius: $FOOTER-RADIUS;
    border-style: solid;
    border-width: 1px;
    bottom: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: block;
    height: $FOOTER-BUTTON-WIDTH;
    position: fixed;
    text-decoration: none;
    right: 50px;
    width: $FOOTER-BUTTON-WIDTH;
    z-index: 1;
}

.go-up-button:hover,
.go-up-button:focus {
        box-shadow: 0px 0px 20px 10px rgba(0 0 0 / 20%);
        transition: ease-in-out;
}
