$MENU-COEFF: calc(375px / $MIN-WIDTH);
$MENU-LOGO-WIDTH: calc(25px / $MENU-COEFF);

.self {
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    height: $MENU-HEIGHT;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: $MENU-LEFT-PADDING;
    padding-right: $MENU-RIGHT-PADDING;
    row-gap: 0.5rem;
    overflow-x: hidden;
    overflow-y: hidden;

    position: fixed;
    top: 0;
    width: 100%;
    max-width: $MAX-CONTENT-WINDOW-SIZE;
    z-index: 5;
}

.logo {
    object-fit: scale-down;
    height: $MENU-LOGO-HEIGHT;
}

.search {
    height: $MENU-ICON-WIDTH-GRID;
    margin-left: auto;
    width: $MENU-ICON-WIDTH-GRID;
}

.favorite {
    height: $MENU-ICON-WIDTH-GRID;
    width: $MENU-ICON-WIDTH-GRID;
}

.history {
    height: $MENU-ICON-WIDTH-GRID;
    width: $MENU-ICON-WIDTH-GRID;
}
