$MENU-COEFF: calc(375px / $MIN-WIDTH);
$MENU-LOGO-WIDTH: calc(25px / $MENU-COEFF);

.self {
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    column-gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    height: $MENU-HEIGHT;
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: $MAX-CONTENT-WINDOW-SIZE;
    min-width: $MIN-WIDTH;
    padding-left: $MENU-LEFT-PADDING;
    padding-right: $MENU-RIGHT-PADDING;
    row-gap: 0.5rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;

    &::before {
        background-color: black;
        content: "";
        height: $MENU-HEIGHT;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -10;
    }
}

.logo {
    object-fit: scale-down;
    height: $MENU-LOGO-HEIGHT;
    margin-right: auto;
}

.item {
    height: $MENU--ICON-HEIGHT;
    min-width: $MENU--ICON-WIDTH;
}

.submenu {
    background-color: black;
    left: 0;
    right: 0;
    position: absolute;
    top: $MENU-HEIGHT;
    z-index: 5;

    &::before {
        bottom: 0;
        content: "";
        background-color: black;
        left: -5000px;
        position: absolute;
        right: -5000px;
        top: 0;
        z-index: -1;
    }
}

.submenu--hidden {
    display: none;
}

.submenu--shown {
    display: flex;
}
