.self {
    align-items: stretch;
    background-color: black;
    flex-direction: column;
    height: calc(100vh - $MENU-HEIGHT);
    justify-content: flex-start;
    left: 0;
    right: 0;
    row-gap: 40px;
    top: 0;
}

.self--hidden {
    display: none;
}

.self--shown {
    display: flex;
}

.header {
    border-width: 0;
    color: white;
    display: block;
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    text-align: center;
    width: 100%;
}

@media (width >= $SCREEN--BIG) {
    .self--shown {
        height: unset;
        max-height: 80vh;
        overflow: hidden;

        // total - header - gap - tags
        padding-bottom: calc(360px - 43px - 45px - 80px);
        row-gap: 45px;
    }
}
