.self {
    appearance: none;
    background-color: transparent;
    background-image: url('/icon-timeline.svg');
    background-position-x: center;
    background-position-y: center;
    background-size: $HISTORY-ICON-HEIGHT, auto;
    background-repeat: no-repeat;
    border-width: 0;
    cursor: pointer;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    pointer-events: inherit;
    width: 100%;
}

.title {
    font-size: 1px;
    font-size: 0;
    color: transparent;
    position: fixed;
    top: -10000px;
}
