.self {
    appearance: none;
    background-color: transparent;
    background-image: url('/icon-timeline.svg');
    background-position-x: center;
    background-position-y: center;
    background-size: $MENU--HISTORY-ICON-HEIGHT, auto;
    background-repeat: no-repeat;
    border-width: 0;
    cursor: pointer;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    pointer-events: inherit;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    font-size: 18px;
    line-height: 22px;
    position: relative;

    &::before {
        background-color: white;
        bottom: -9px;
        content: "";
        height: 3px;
        position: absolute;
        right: 0;
        visibility: hidden;
        width: 30px;
    }
}

.title:hover {
    &::before {
        visibility: visible;
    }
}

@media (max-width: calc($SCREEN--BIG - 0.01px)) {
    .title {
        @include visually-hidden
    }
}

@media (min-width: calc($SCREEN--BIG)) {
    .self {
        background-position-x: 0;
        padding-left: calc($MENU--SEARCH-ICON-HEIGHT + 12px);
    }

    .title {
        background-position-x: 0;
    }
}
