$ICON-SIZE: 23px;

.self {
    background-color: white;
    border: none;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    appearance: none;
    display: block;
    height: $ICON-SIZE;
    text-align: center;
    width: $ICON-SIZE;
}

.item {
    appearance: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0;
    height: 100%;
    margin: 0;
    width: 100%;
}

.item--one-column {
    background-image: url("data:image/svg+xml;charset=utf-8, #{map-get($ICON-LAYOUT, BY-LINES-LIGHT)}");

    &:checked {
        background-image: url("data:image/svg+xml;charset=utf-8, #{map-get($ICON-LAYOUT, BY-LINES-DARK)}");
    }
}


.item--multi-column {
    background-image: url("data:image/svg+xml;charset=utf-8, #{map-get($ICON-LAYOUT, BY-SQUARES-LIGHT)}");

    &:checked {
        background-image: url("data:image/svg+xml;charset=utf-8, #{map-get($ICON-LAYOUT, BY-SQUARES-DARK)}");
    }
}
