$FOOTER-BUTTON-WIDTH: 50px;
$FOOTER-ICON-WIDTH: 16px;
$FOOTER-RADIUS: 8px;

.self {
    background-color: white;
    background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-ARROW-SCROLL-UP}");
    background-size: $FOOTER-ICON-WIDTH;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-color: lightgray;
    border-radius: $FOOTER-RADIUS;
    border-style: solid;
    border-width: 1px;
    bottom: 50px;
    box-shadow: 0 0 4px rgba(0 0 0 / 25%);
    cursor: pointer;
    display: block;
    height: $FOOTER-BUTTON-WIDTH;
    position: fixed;
    text-decoration: none;
    right: 50px;
    width: $FOOTER-BUTTON-WIDTH;
    z-index: 1;
}

.self:hover,
.self:focus {
    box-shadow: 0 0 20px 10px rgba(0 0 0 / 15%);
    transition: ease-in-out;
}
