$SEARCH-INPUT--FONT-SIZE: 36px;
$SEARCH-INPUT--FONT-SIZE-BIG-SCREEN: 72px;

$SEARCH-INPUT--LINE-HEIGHT: 43px;
$SEARCH-INPUT--LINE-HEIGHT-BIG-SCREEN: 86px;

.self {
    background-color: transparent;
    border-width: 0;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, black, gray, black);
    box-sizing: border-box;
    color: white;
    font-size: $SEARCH-INPUT--FONT-SIZE;
    font-weight: normal;
    line-height: $SEARCH-INPUT--LINE-HEIGHT;
    text-align: center;
    width: 100%;
}

.self::placeholder {
    color: white;
    font-size: $SEARCH-INPUT--FONT-SIZE;
    font-weight: normal;
    color: white;
    line-height: $SEARCH-INPUT--LINE-HEIGHT;
    text-align: center;
}
