$SEARCH-INPUT--FONT-SIZE: 36px;
$SEARCH-INPUT--FONT-SIZE-BIG-SCREEN: 72px;

$SEARCH-INPUT--LINE-HEIGHT: 43px;
$SEARCH-INPUT--LINE-HEIGHT-BIG-SCREEN: 86px;

.self {
    position: relative;

    &::after {
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0)
        );
        bottom: -13px;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        width: 100%;
    }
}

.input {
    background-color: transparent;
    border-width: 0;
    box-sizing: border-box;
    color: white;
    font-size: $SEARCH-INPUT--FONT-SIZE;
    font-weight: normal;
    line-height: $SEARCH-INPUT--LINE-HEIGHT;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    width: 100%;
}

.input::placeholder {
    color: white;
    font-size: $SEARCH-INPUT--FONT-SIZE;
    font-weight: normal;
    color: white;
    line-height: $SEARCH-INPUT--LINE-HEIGHT;
    text-align: center;
}

@media (width >= $SCREEN--BIG) {
    .input {
        font-size: $SEARCH-INPUT--FONT-SIZE-BIG-SCREEN;
        line-height: $SEARCH-INPUT--LINE-HEIGHT-BIG-SCREEN;
        border-image-outset: 14px;
    }

    .input::placeholder {
        font-size: $SEARCH-INPUT--FONT-SIZE-BIG-SCREEN;
        line-height: $SEARCH-INPUT--LINE-HEIGHT-BIG-SCREEN;
    }
}
