$SEARCH-COEFF: calc(375px / $MIN-WIDTH);
$SEARCH-PADDING-BOTTOM: 49px;
$SEARCH--ICON-POSITION-RIGHT: calc(2 * $MENU-ICON-WIDTH-GRID + 15px);
$SEARCH--ICON-POSITION-TOP: calc(($MENU-HEIGHT - $MENU-ICON-WIDTH-GRID) / 2);

.self {
    display: block;
    height: 100%;
    width: 100%;
}

.icon {
    display: block;
    height: 100%;
    width: 100%;
}

.icon--hidden {
    display: hidden;
    visibility: hidden;
}

.search-container {
    align-items: stretch;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    top: $MENU-HEIGHT;
    width: 100vw;
}

.search-container--full {
    height: calc(100vh - $MENU-HEIGHT);
}

.search-container--hidden {
    display: none;
}

