$SEARCH-COEFF: calc(375px / $MIN-WIDTH);
$SEARCH-PADDING-BOTTOM: 49px;


.self {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

}

.self--full {
    height: calc(100vh - $MENU-HEIGHT);
}

.self--hidden {
    display: none;
}

