.self {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 49px;
    row-gap: 33px;
    width: 100%;
}

.self--full {
    height: calc(100vh - $MENU-HEIGHT);
}

.self--hidden {
    display: none;
}

@media (width >= $SCREEN--BIG) {
    .self {
        row-gap: 44px;
    }

    .self--full {
        height: unset;
        padding-bottom: 91px;
    }
}
