$SEARCH-TAGS--COEFF: calc(375px / $MIN-WIDTH);
$SEARCH-TAGS--LINE-HEIGHT-FOCUSED: calc(40px / $SEARCH-TAGS--COEFF);
$SEARCH-TAGS--FONT-SIZE: calc(18px / $SEARCH-TAGS--COEFF);
$SEARCH-TAGS--LINE-HEIGHT: calc(21px / $SEARCH-TAGS--COEFF);

.self {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    overflow-y: visible; // Content MUST be shown, even beaking design
    padding-bottom: 49px;
    padding-inline-start: 0;
    padding-left: $MENU-LEFT-PADDING;
    padding-right: $MENU-LEFT-PADDING;
    padding-top: 20px;
    scrollbar-width: none;
    width: 100%;
}

.self--minimized {
    flex-wrap: nowrap;
    -ms-overflow-style: none;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.self--full {
    flex-wrap: wrap;
    justify-content: center;
    line-height: $SEARCH-TAGS--LINE-HEIGHT-FOCUSED;
    padding-left: calc(86px - $MENU-LEFT-PADDING);
    padding-right: calc(86px - $MENU-LEFT-PADDING); // Design shows 106px, but by simmetry 86px
}

.item-container {
    background-color: transparent;
    border-width: 0;
    display: block;
    float: left;
    flex-shrink: 0;
    flex-grow: 0;
    margin-bottom: 2px; // For outline to be shown
    margin-top: 2px; // For outline to be shown
    padding-left: calc(22px / 2 - 2px);
    padding-right: calc(22px / 2 - 2px);
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    word-break: keep-all;

    &:first-of-type {
        margin-left: 0;
        padding-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
        padding-right: 0;
    }
}


// FROM OLD CSS:
/*
.tags::before {
    background: linear-gradient(
        90deg,
        rgba(black, 0%) 50%,
        rgba(black, 40%) 70%,
        rgba(black, 100%) 100%
    );
}
*/
