$ONE-PHOTO-BORDER-RADIUS: 8px;
$ONE-PHOTO-BUTTON-WIDTH: 41px;
$ONE-PHOTO-ICON-SIZE: 21px;

.self {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.button-container {
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-width: 0;
    display: block;
    height: $ONE-PHOTO-BUTTON-WIDTH;
    list-style: none;
    margin-left: 12px;
    margin-right: 0;
    padding: 0;
    width: $ONE-PHOTO-BUTTON-WIDTH;
}

.button {
    appearance: none;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: $ONE-PHOTO-ICON-SIZE auto;
    background-repeat: no-repeat;
    border-radius: $ONE-PHOTO-BORDER-RADIUS;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: $ONE-PHOTO-BUTTON-WIDTH;
    margin: 0;
    padding: 0;
    width: $ONE-PHOTO-BUTTON-WIDTH;

    &--download {
        background-color: #219653;
        background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-DOWNLOAD-WHITE}");
        border: 1px solid #219653;
    }

    &:hover {
        transform:scale(1.2, 1.2);
    }
}

.button--like {
    background-color: rgba(255 255 255 / 90%);
    background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-HEART-GRAY}");
    box-shadow: 0 0 4px rgba(0 0 0 / 25%);
}

.button--like:checked {
    background-image: url("data:image/svg+xml;charset=utf-8, #{$ICON-HEART-RED}");
}
