.self {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 14px;
}

.header {
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
}

.tag-container {
    text-decoration: none;
}

.tag {
    background-color: #f2f2f2;
    border-radius: 4px;
    color: #828282;
    font-size: 14px;
    font-weight: lighter;
    line-height: 17px;
    object-fit: contain;
    padding: 9px;
    padding-bottom: 6px;
    padding-top: 7px;
    text-decoration: none;
}

@media (min-width: $SCREEN--BIG) {
    .self {
        align-items: center;
        row-gap: 20px;
    }

    .header {
        color: white;
        font-size: 24px;
        font-weight: normal;
        line-height: 29px;
    }

    .tag {
        font-size: 18px;
        line-height: 21px;
        padding: 11px;
        padding-top: 5px;
        padding-bottom: 4px;
    }
}
