.self {
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: calc(
        map-get($MENU-HEIGHTS, FAVORITE-PAGE-SMALL-SCREEN) +
        map-get($MENU-TO-CONTENT-GAPS, FAVORITE-PAGE-SMALL-SCREEN)
    );
    min-height: 101vw; // prevents disappearing of scroll bar
    padding-left: $MENU-LEFT-PADDING;
    padding-right: $MENU-RIGHT-PADDING;
    position: relative;
    row-gap: 40px;
}

.header {
    color: black;
    font-size: 36px;
    line-height: 43em / 36px;
    margin: 0;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

@media (width >= $SCREEN--BIG) {
    .self {
        margin-top: calc(
            map-get($MENU-HEIGHTS, FAVORITE-PAGE-BIG-SCREEN) +
            map-get($MENU-TO-CONTENT-GAPS, FAVORITE-PAGE-BIG-SCREEN)
        );
        row-gap: 71px;
    }

    .header {
        font-size: 72px;
        line-height: 86em / 72em;
    }

    .content {
        row-gap: 111px;
    }
}
